#flexPosition {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
}

.top-presentation {
    position: absolute;
    width: 100%;
    margin-top: 100px;
}

#title{
    color: white;
    font-size: 80px;
}
#cacheTech{
    color: rgb(119, 0, 255);

}
#presentationTop{
    color: #dfd9ff;
}
#textTop {
    width: 200px;
}

