
.septre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.cercleViolet{
    background-color:rgb(119, 0, 255);
    width: 25px;
    height: 25px;
    border-radius: 100% ;
}
.tigeFade{
    background: linear-gradient(#7700ff, rgba(128, 128, 128, 0));
    width: 4.5px;
    height: 300px;
    
}
#title{
    color: white;
}
#cacheTech{
    color: rgb(119, 0, 255);

}
#presentationTop{
    color: #dfd9ff;
}